{% extends 'movies.html' %}
{% load static %}
{% block content1 %}


<link rel="stylesheet" href="{% static 'css/movies_gallery.css' %}">


<section class="movies" id="movies">

    <div class="hero-container">

        
        <!-- Main Hero Image -->
        <div id="gallery-view">
            <ion-icon name="images-outline" class="active"></ion-icon>
            <ion-icon name="grid-outline" class=""></ion-icon>
        </div>

        <div id="dynamic-container">

            <div class="hero-image-container">
                <img 
                    src="/static/images/joker-banner.jpg"
                    alt="Background Image"
                    class="hero-image"
                />
                <div class="gradient-overlay"></div>
            </div>
            
            <div class="movie-gallery">
                <h2 class="gallery-title">Now Showing</h2>
                <div class="slider-container">
                    <button class="slider-button prev">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg>
                    </button>
            
                    <div class="slider-content">
                        {% for movie in movies %}
                        <div class="movie-card-wrapper">
                            {% include 'components/movie_card.html' with image_url=movie.poster_portrait.url movie_title=movie.movie_name duration=movie.duration genre=movie.genre movie_id=movie.id %}
                        </div>
                        {% endfor %}
                    </div>
                    
                    <button class="slider-button next">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
        
            

            
            
        
    </div>
</section>




    


<script>
    
    let movies = (`{{ movies_json|safe }}`);
    let selectedFilters = [];
    let selectedFiltersJSON = {
    "genre" : [],
    "movie_rating" : [],
    "movie_format" : []
    };

    movies = JSON.parse(movies);


    console.log(movies);
    let filtered_movies = movies;


    //ANIMATION LOAD page
    const movie_page = document.getElementById("movies");

    gsap.fromTo(movie_page, 
        { opacity: 0},  
        { opacity: 1, duration: 2} 
    );
    

    //MODAL SETTIGNS
    var modal = null;

    function showModal() {

        if (modal == null){
            return;
        }

        if (modal.style.display === "block") {
            
            gsap.fromTo(modal, 
                { opacity: 1, y: 0 },  
                { opacity: 0, y: 100, duration: .4 } 
            );

            modal.style.display = "none"; 
        } else {
            modal.style.display = "block"; 
            gsap.fromTo(modal, 
                { opacity: 0, y: 100 },  
                { opacity: 1, y: 0, duration: .4 } 
            );
        }

        

    }

   

    function changeListener(selectElement){
        var value = selectElement.value;

        if (value == "runtime"){
          sortByRuntime();
        }else if (value == "price"){
          sortByPrice();
        } else if (value == "az"){
          sortByAZ();
        } else if (value == "za"){
          sortByZA();
        } 
   
        const cards_container = document.getElementById('list-cards-container');
        const content = displayListViewCards(filtered_movies);
        cards_container.innerHTML = content;

        gsap.fromTo(cards_container, 
                { opacity: 0 },  
                { opacity: 1, duration:2} 
        );
    }

    document.addEventListener('DOMContentLoaded' , function() {
        const sliderContent = document.querySelector('.slider-content');
        const prevButton = document.querySelector('.prev');
        const nextButton = document.querySelector('.next');
        const cardWidth = 208; 

        prevButton.addEventListener('click', () => {
            sliderContent.scrollLeft -= cardWidth * 4;
        });

        nextButton.addEventListener('click', () => {
            sliderContent.scrollLeft += cardWidth * 4; 
        });
    });
    

    document.getElementById('gallery-view').addEventListener('click', function (e) {
        if (e.target.tagName === 'ION-ICON') {
            
            document.querySelectorAll('#gallery-view ion-icon').forEach(icon => {
                icon.classList.remove('active');
            });

            e.target.classList.add('active');
    
            let dynamic_container = document.getElementById('dynamic-container');
            let content = '';
            if (e.target.getAttribute('name') === 'grid-outline') {
                content = `
                            <div id="filter-box">

                                <div id="filter-box-top">

                                    <div>
                                        <ion-icon name="options-outline" onclick="showModal()"></ion-icon>

                                        <div id="searchbar">
                                        
                                            <div id="search-icon">
                                                <ion-icon name="search-outline"></ion-icon>
                                            </div>
                                            <input placeholder="Search Movie" id="search-movie" />
                                        </div>

                                        
                                    </div>
                                
                                    
                                    

                                    <div>
                                        <p>Sort by</p>
                                        <select id="sort-options" onchange="changeListener(this)">
                                            <option value="runtime">Runtime</option>
                                            <option value="price">Price</option>
                                            <option value="az">A-Z</option>
                                            <option value="za">Z-A</option>
                                        
                                        </select>
                                    </div>
                                </div>

                                <div id="filter-box-bottom">
                                    
                                </div>

                            </div>

                            <div id="filter-modal">
                                <div class="modal-content">
                                    <span class="close-button">&times;</span>
                                    <h2>Genres</h2>
                                    <div class="genres filter-type">
                                        <button class="genre-btn filter-btn">Drama</button>
                                        <button class="genre-btn filter-btn">Adventure</button>
                                        <button class="genre-btn filter-btn">Thriller</button>
                                        <button class="genre-btn filter-btn">Action</button>
                                        <button class="genre-btn filter-btn">Crime</button>
                                        <button class="genre-btn filter-btn">Comedy</button>
                                        <button class="genre-btn filter-btn">Mystery</button>
                                        <button class="genre-btn filter-btn">War</button>
                                        <button class="genre-btn filter-btn">Fantasy</button>
                                        <button class="genre-btn filter-btn">Sci-Fi</button>
                                    </div>
                                    <h2>Rating</h2>
                                    <div class="movie-ratings filter-type">
                                        <button class="rating-btn filter-btn">General Audience</button>
                                        <button class="rating-btn filter-btn">Parental Guidance</button>
                                        <button class="rating-btn filter-btn">Restricted-13</button>
                                        <button class="rating-btn filter-btn">Restricted-16</button>
                                        <button class="rating-btn filter-btn">Restricted-18</button>
                                    </div>

                                    <h2>Format</h2>
                                    <div class="movie-formats filter-type">
                                        <button class="format-btn filter-btn">2D</button>
                                        <button class="format-btn filter-btn">3D</button>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="container" id="list-cards-container">${displayListViewCards(movies)}</div>`;

                            

            } else {
                content = `
                        <div class="hero-image-container">
                            <img 
                                src="/static/images/joker-banner.jpg"
                                alt="Background Image"
                                class="hero-image"
                            />
                            <div class="gradient-overlay"></div>
                        </div>
                    
                        <div class="movie-gallery">
                            <h2 class="gallery-title">Now Showing</h2>
                            <div class="slider-container">
                                <button class="slider-button prev">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                                    </svg>
                                </button>
                        
                                <div class="slider-content">
                                    ${displayGalleryViewCards(movies)}
                                </div>
                                
                                <button class="slider-button next">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                            `;

                
                        document.addEventListener('click' , function() {
                            const sliderContent = document.querySelector('.slider-content');
                            const prevButton = document.querySelector('.prev');
                            const nextButton = document.querySelector('.next');
                            const cardWidth = 208; 
                    
                            prevButton.addEventListener('click', () => {
                                sliderContent.scrollLeft -= cardWidth * 4;
                            });
                    
                            nextButton.addEventListener('click', () => {
                                sliderContent.scrollLeft += cardWidth * 4; 
                            });
                        });

            }

           
            dynamic_container.innerHTML = content;
            
            gsap.fromTo(dynamic_container, 
                { opacity: 0 },  
                { opacity: 1, duration:2} 
            );
            

            modal = document.getElementById("filter-modal");
            
            var closeButton = document.getElementsByClassName("close-button")[0];

            closeButton.onclick = function() {

                gsap.fromTo(modal, 
                    { opacity: 1, y: 0 },  
                    { opacity: 0, y: 100, duration: .4 } 
                );

                setTimeout(function() {
                    modal.style.display = "none";
                }, 400);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    gsap.fromTo(modal, 
                        { opacity: 1, y: 0 },  
                        { opacity: 0, y: 100, duration: .4 } 
                    );

                    setTimeout(function() {
                        modal.style.display = "none";
                    }, 400);
                }
            }

            function displaySelectedFilters() {
                const container = document.getElementById("filter-box-bottom");
                const cards_container = document.getElementById("list-cards-container");

                container.innerHTML = "";
                
        
                selectedFilters.forEach(button => {
                    const filterLabel = document.createElement("span");
                    filterLabel.classList.add("selected-filter");
        
                    filterLabel.textContent = button.textContent;
        
                    const closeBtn = document.createElement("button");
                    closeBtn.textContent = "×";
                    closeBtn.classList.add("close");
                    closeBtn.onclick = function() {
                       
                        button.classList.remove('selected');
                        selectedFilters = selectedFilters.filter(filter => filter !== button);

                        let text = button.textContent;
                        let genre = ["Drama", "Adventure", "Thriller", "Action", "Crime", "Comedy", "Mystery", "War", "Fantasy", "Sci-Fi"];
                        let rating = ["General Audience", "Parental Guidance", "Restricted-13", "Restricted-16","Restricted-18"];
                        let format = ["2D", "3D"];


                        if (genre.includes(text)) {
                            selectedFiltersJSON.genre = selectedFiltersJSON.genre.filter(item => item !== text);
                        } else if (rating.includes(text)) {
                            selectedFiltersJSON.movie_rating = selectedFiltersJSON.movie_rating.filter(item => item !== text);
                        } else if (format.includes(text)) {
                            selectedFiltersJSON.movie_format = selectedFiltersJSON.movie_format.filter(item => item !== text);
                        }

                        displaySelectedFilters();

                    };
        
                    
                    filterLabel.appendChild(closeBtn);
                    container.appendChild(filterLabel);
                });

                //filter movies here
                filtered_movies = movies.filter(movie =>
                    Object.entries(selectedFiltersJSON).every(([key, filters]) =>
                        filters.length === 0 || filters.includes(movie.fields[key]) 
                    )
                );

                
                console.log(selectedFiltersJSON);
                cards_container.innerHTML = displayListViewCards(filtered_movies);

                
                gsap.fromTo(cards_container, 
                    { opacity: 0 },  
                    { opacity: 1, duration: 1 } 
                );
               


            }

            function toggleSelection(event) {
                const button = event.target;
                let text = button.textContent;
                let genre = ["Drama", "Adventure", "Thriller", "Action", "Crime", "Comedy", "Mystery", "War", "Fantasy", "Sci-Fi"];
                let rating = ["General Audience", "Parental Guidance", "Restricted-13", "Restricted-16","Restricted-18"];
                let format = ["2D", "3D"];

                if (button.classList.contains('selected')) {
                    button.classList.remove('selected');
                    selectedFilters = selectedFilters.filter(filter => filter !== button);

                    if (genre.includes(text)) {
                        selectedFiltersJSON.genre = selectedFiltersJSON.genre.filter(item => item !== text);
                    } else if (rating.includes(text)) {
                        selectedFiltersJSON.movie_rating = selectedFiltersJSON.movie_rating.filter(item => item !== text);
                    } else if (format.includes(text)) {
                        selectedFiltersJSON.movie_format = selectedFiltersJSON.movie_format.filter(item => item !== text);
                    }

                } else {
                    button.classList.add('selected');
                    selectedFilters.push(button);
                    
                    if (genre.includes(text)){
                        selectedFiltersJSON.genre.push(text);
                    } else if (rating.includes(text)){
                        selectedFiltersJSON.movie_rating.push(text);
                    } else if (format.includes(text)){
                        selectedFiltersJSON.movie_format.push(text);
                    }
                }




                displaySelectedFilters();
            }

        
            document.querySelectorAll('.filter-btn').forEach(button => {
                button.addEventListener('click', toggleSelection);
            });

            //SEARCHBAR LOGIC here
            const search_input = document.getElementById("search-movie");

            search_input.addEventListener("input", event => {
                const query = event.target.value.toLowerCase();


                // Filter the data based on the query
                filtered_movies = movies.filter((movie) =>
                    movie.fields.movie_name.toLowerCase().includes(query)
                );

                const cards_container = document.getElementById("list-cards-container");
                cards_container.innerHTML = displayListViewCards(filtered_movies);

                gsap.fromTo(cards_container, 
                    { opacity: 0 },  
                    { opacity: 1, duration:2} 
                );
            });
        }
    });

    const movieDetailsBaseUrl = "{% url 'movie_details' 0 %}".replace('/0', '').replace(/\/$/, '');
    
    function displayGalleryViewCards(movies){
        let content = '';
        movies.forEach(item => {
            content += `
                <div class="movie-card-wrapper">
                <div class="box text-white  text-center space-y-2">

                    <a href="${movieDetailsBaseUrl}/${item.pk}">
                        <div class="box-img">
                            <img src="/media/${item.fields.poster_portrait}" alt="">
                        </div>
                    </a>    
            
                    <p class="text-xl ">${item.fields.movie_name}</p>
                    
                </div></div>`;
        });

       
        

        return content;
    }

    function displayListViewCards(movies){
        let content = '';

        if (movies.length == 0){
            content = '<h3 class="text-white">No results</h3>'
        } else {
            movies.forEach(item => {
                content += `
                <div class="movie-card">
                    <a href="${movieDetailsBaseUrl}/${item.pk}">
                        <img src="/media/${item.fields.poster_portrait}" alt="${item.fields.movie_name}">
                    </a>  
                    <div class="movie-info">
                        <h3>${item.fields.movie_name}</h3>
                    </div>
                </div>
                `;
            });
        }
        

    
        return content;
    }

    function sortByRuntime(){
        console.log(typeof filtered_movies);
        console.log(typeof movies);
        filtered_movies.sort((a,b) => a.fields.duration.localeCompare(b.fields.duration));
    }

    function sortByAZ(){
        filtered_movies.sort((a,b) => a.fields.movie_name.localeCompare(b.fields.movie_name));
    }

    function sortByZA() {
        filtered_movies.sort((a, b) => b.fields.movie_name.localeCompare(a.fields.movie_name));
    }

    function sortByPrice(){
        filtered_movies.sort((a, b) => a.fields.price - b.fields.price);
    }


    



</script>




{% endblock %}