{% extends 'movies.html' %}
{% load static %}
{% block content1 %}


<link rel="stylesheet" href="{% static 'css/movies_gallery.css' %}">

<section class="movies" id="movies">
    <div class="hero-container">
        <!-- Main Hero Image -->
        <div id="gallery-view">
            <ion-icon name="images-outline" class="active"></ion-icon>
            <ion-icon name="grid-outline" class=""></ion-icon>
        </div>

        <div id="dynamic-container">
            <div class="hero-image-container">
                <img 
                    src="/static/images/joker-banner.jpg"
                    alt="Background Image"
                    class="hero-image"
                />
                <div class="gradient-overlay"></div>
            </div>
            
            <div class="movie-gallery">
                <h2 class="gallery-title">Now Showing</h2>
                <div class="slider-container">
                    <button class="slider-button prev">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg>
                    </button>
            
                    <div class="slider-content">
                        {% for movie in movies %}
                        <div class="movie-card-wrapper">
                            {% include 'components/movie_card.html' with image_url="https://cringemdb.com/img/movie-poster-placeholder.png" movie_title=movie.movie_name duration=movie.duration genre=movie.genre movie_id=movie.id %}
                        </div>
                        {% endfor %}
                    </div>
                    
                    <button class="slider-button next">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </button>
                </div>
            </div>

        </div>
        
            

            
            
        
    </div>
</section>




    


<script>
    

    let movies = (`{{ movies_json|safe }}`);
    movies = JSON.parse(movies);
    console.log(movies);
   

    function changeListener(selectElement){
        var value = selectElement.value;
          
        if (value == "runtime"){
          sortByRuntime();
        }else if (value == "price"){
          sortByPrice();
        } else if (value == "az"){
          sortByAZ();
        } else if (value == "za"){
          sortByAZ();
        } 
   
        const cards_container = document.getElementById('list-cards-container');
        const content = displayListViewCards(movies);
        console.log(movies);
        cards_container.innerHTML = content;
    }
   

    document.addEventListener('DOMContentLoaded' , function() {
        const sliderContent = document.querySelector('.slider-content');
        const prevButton = document.querySelector('.prev');
        const nextButton = document.querySelector('.next');
        const cardWidth = 208; 

        prevButton.addEventListener('click', () => {
            sliderContent.scrollLeft -= cardWidth * 4;
        });

        nextButton.addEventListener('click', () => {
            sliderContent.scrollLeft += cardWidth * 4; 
        });
    });
    

    document.getElementById('gallery-view').addEventListener('click', function (e) {
        if (e.target.tagName === 'ION-ICON') {
            
            document.querySelectorAll('#gallery-view ion-icon').forEach(icon => {
                icon.classList.remove('active');
            });

            e.target.classList.add('active');
    
            let dynamic_container = document.getElementById('dynamic-container');
            let content = '';
            if (e.target.getAttribute('name') === 'grid-outline') {
                content = `
                            <div id="filter-box">
                                <ion-icon name="options-outline" onclick="sortByRuntime()"></ion-icon>
                                <div>
                                    <p>Sort by</p>
                                    <select id="sort-options" onchange="changeListener(this)">
                                        <option value="runtime">Runtime</option>
                                        <option value="price">Price</option>
                                        <option value="az">A-Z</option>
                                        <option value="za">Z-A</option>
                                        <option value="all">All</option>
                                    </select>
                                </div>

                            </div>
                            
                            <div class="container" id="list-cards-container">${displayListViewCards(movies)}</div>`;
                
            } else {
                content = `
                        <div class="hero-image-container">
                <img 
                    src="/static/images/joker-banner.jpg"
                    alt="Background Image"
                    class="hero-image"
                />
                <div class="gradient-overlay"></div>
            </div>
            
            <div class="movie-gallery">
                <h2 class="gallery-title">Now Showing</h2>
                <div class="slider-container">
                    <button class="slider-button prev">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
                        </svg>
                    </button>
            
                    <div class="slider-content">
                        ${displayGalleryViewCards(movies)}
                    </div>
                    
                    <button class="slider-button next">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="slider-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                    </button>
                </div>
            </div>
                    `;

                
                document.addEventListener('click' , function() {
                    const sliderContent = document.querySelector('.slider-content');
                    const prevButton = document.querySelector('.prev');
                    const nextButton = document.querySelector('.next');
                    const cardWidth = 208; 
            
                    prevButton.addEventListener('click', () => {
                        sliderContent.scrollLeft -= cardWidth * 4;
                    });
            
                    nextButton.addEventListener('click', () => {
                        sliderContent.scrollLeft += cardWidth * 4; 
                    });
                });
            }

            

            dynamic_container.innerHTML = content;
        }
    });

    const movieDetailsBaseUrl = "{% url 'movie_details' 0 %}".replace('/0', '').replace(/\/$/, '');
    
    function displayGalleryViewCards(movies){
        let content = '';
        movies.forEach(item => {
            content += `
                <div class="movie-card-wrapper">
                <div class="box text-white  text-center space-y-2">

                    <a href="${movieDetailsBaseUrl}/${item.pk}">
                        <div class="box-img">
                            <img src="https://cringemdb.com/img/movie-poster-placeholder.png" alt="">
                        </div>
                    </a>    
            
                    <p class="text-xl ">${item.fields.movie_name}</p>
                    
                </div></div>`;
        });

       
        

        return content;
    }

    function displayListViewCards(movies){
        let content = '';
        movies.forEach(item => {
            content += `
            <div class="movie-card">
                <a href="${movieDetailsBaseUrl}/${item.pk}">
                    <img src="https://cringemdb.com/img/movie-poster-placeholder.png" alt="${item.fields.movie_name}">
                </a>  
                <div class="movie-info">
                    <h3>${item.fields.movie_name}</h3>
                </div>
            </div>
            `;
        });

        return content;
    }


    


    function sortByRuntime(){
        movies.sort((a,b) => a.fields.duration.localeCompare(b.fields.duration));
    }

    function sortByAZ(){
        movies.sort((a,b) => a.fields.movie_name.localeCompare(b.fields.movie_name));
    }

    function sortByPrice(){
        movies.sort((a,b) => a.fields.price.localeCompare(b.fields.price));
    }




</script>




{% endblock %}