{% extends "../pages/dashboard.html" %}

{% load static %}
{% block title %} Dashboard - Add User {% endblock %}
{% block content %}
<div class="h-full flex items-center container mx-auto px-4 py-8">
    <div class="w-full max-w-4xl mx-auto bg-white rounded-xl overflow-hidden shadow-2xl border">
        <div class="px-6 py-4">
            <h2 class="text-3xl font-bold mb-6 text-center">Create User</h2>
            <form method="post" action="{% url 'admin_dashboard_add_user' %}" class="space-y-6">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    {% for field in add_user_form %}
                        <div>
                            <label for="{{ field.id_for_label }}"  class="block text-m font-medium text-gray-700">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    {% comment %} <div>
                        <label for="{{ add_user_form.username.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.username.label }}</label>
                        {{ add_user_form.username }}
                        {% for error in add_user_form.username.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.email.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.email.label }}</label>
                        {{ add_user_form.email }}
                        {% for error in add_user_form.email.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.first_name.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.first_name.label }}</label>
                        {{ add_user_form.first_name }}
                        {% for error in add_user_form.first_name.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.last_name.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.last_name.label }}</label>
                        {{ add_user_form.last_name }}
                        {% for error in add_user_form.last_name.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.birth_date.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.birth_date.label }}</label>
                        {{ add_user_form.birth_date }}
                        {% for error in add_user_form.birth_date.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.address.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.address.label }}</label>
                        {{ add_user_form.address }}
                        {% for error in add_user_form.address.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.password1.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.password1.label }}</label>
                        {{ add_user_form.password1 }}
                        {% for error in add_user_form.password1.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="{{ add_user_form.password2.id_for_label }}" class="block text-m font-medium text-gray-700">{{ add_user_form.password2.label }}</label>
                        {{ add_user_form.password2 }}
                        {% for error in add_user_form.password2.errors %}
                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endcomment %}
                </div> 
                
                {% for error in add_user_form.non_field_errors %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        {{ add_user_forms.non_field_errors }}
                    </div>
                {% endfor %}

                {% comment %} <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-m font-medium text-white bg-gradient-to-r from-black to-red-600 hover:from-black hover:to-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    Create Account
                </button>
                {% endcomment %}

                <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-m font-medium text-white bg-gradient-to-r from-black to-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                    Create Account
                </button>
                
                
            </form>
        </div>
    </div>
</div>

<!-- Message Modal -->
{% include "components/message_modal.html" %}
{% endblock %}