{% extends "../pages/dashboard.html" %}

{% load static %}
{% block title %} Dashboard - All Users {% endblock %}
{% block content %}
<div class="container mx-auto px-4 h-screen flex flex-col">
    <h1 class="text-3xl font-bold mb-6 text-center py-4">User List</h1>
    <div class="flex-grow overflow-hidden h-full pr-2">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for user in users %}
                {% include "../components/user_card.html" with user=user %}
            {% empty %}
                <p class="text-center text-gray-500 col-span-full">No users found.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Edit User Modal -->
<div id="editUserModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
        <h2 class="text-lg font-semibold text-gray-800 mb-4">Edit User</h2>
        <form id="editUserForm" method="post">
            {% csrf_token %}
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" class="mt-1 p-2 block w-full border border-gray-300 rounded-md" required>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" class="mt-1 p-2 block w-full border border-gray-300 rounded-md" required>
            </div>
            <div>
                <label for="birthdate" class="block text-sm font-medium text-gray-700">Birth Date</label>
                <input type="date" id="birthdate" name="birthdate" class="mt-1 p-2 block w-full border border-gray-300 rounded-md" required>
            </div>
            <div class="flex justify-end mt-4">
                <button data-close-modal ype="button" class="px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-700 rounded-md" id="closeModal">Cancel</button>
                <button type="submit" class="ml-2 px-4 py-2 bg-black text-white rounded-md">Save Changes</button>
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("editUserModal");
        const closeModalButton = modal.querySelector("[data-close-modal]");
        closeModalButton.addEventListener("click", () => {
            modal.classList.add("hidden");
        });
        
        const cards = document.querySelectorAll("[data-user-card]");
        cards.forEach((card) => {
            card.addEventListener("click", () => {
                const firstname = card.getAttribute("data-firstname");
                const lastname = card.getAttribute("data-lastname");
                const username = card.getAttribute("data-username");
                const userID = card.getAttribute("data-id");
                const email = card.getAttribute("data-email");
                const birthdate = card.getAttribute("data-birthdate");
                const address = card.getAttribute("data-address");


                //show the modal
                modal.classList.remove("hidden");
            });
        });
    });

</script>
{% endblock %}