{% extends "../pages/dashboard.html" %}

{% load static %}
{% block title %} Dashboard - All Users {% endblock %}
{% block content %}

<div class="container mx-auto p-6 h-full flex flex-col">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">All Users</h1>
        <div class="flex space-x-3">
            <div class="flex items-center">
                <input type="text" name="search" placeholder="Search user..." 
                       class="border rounded-l-md px-3 py-2 w-64">
                <button type="submit" class="bg-black text-white px-4 py-2 rounded-r-md">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="flex-grow overflow-y-auto h-full p-3">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for user in users %}
                {% include "components/user_card.html" with user=user %}
            {% empty %}
                <p class="text-center text-gray-500 col-span-full">No users found.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Message Modal -->
{% include "components/message_modal.html" %}

<!-- Edit User Modal -->
{% include "components/edit_user_modal.html" with user=user %}

{% endblock %}