<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sinehan{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
    <script src="/static/js/base.js"></script>

  </head>
  <body
    
    style="
      background: linear-gradient(to bottom, rgba(139, 0, 0, 0.9) 0%, black 30%, black 100%);

    "
  >
    
    {% include 'components/navbar.html' %}
    {% include 'components/register.html' %}

    <div id="notification-container"></div>

    {% if messages %}
        <script>
            // Loop through all messages and call the showNotification function
            {% for message in messages %}
                showNotification('{{ message }}', '{{ message.tags }}');
            {% endfor %}
        </script>
    {% endif %}


    <!-- Placeholder for content that will change in each page -->
    <div class="content">{% block content %}{% endblock %}</div>

  </body> 
</html>