{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/coming.css' %}">

<div class="main-container flex-col">
    
    {% for movie in unused_movies%}
        <div class="card-wrapper" style="background-image: url('{{movie.poster_landscape.url}}');"">
            <div class="movie-detail-card">
                <div class="content">
                    <h1 class="title">{{movie.movie_name}}</h1>
                    <div class="meta">{{movie.genre}}</div>
                    <p class="description">
                        {{movie.synopsis}}
                    </p>
                    <button class="trailer-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="play-icon">
                            <path d="M8 5v14l11-7z" />
                        </svg>
                        Watch Trailer
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}

   
    
</div>


{% endblock %}