<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sinehan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    {% include 'components/navbar.html' %}
    <br />
    {% include 'components/register.html' %}

    <div class="container mx-auto mt-20">
      <h1 class="text-3xl font-bold">Welcome to the Cinema</h1>
      <p>Explore our movies and book tickets!</p>
    </div>
  </body>
</html>
