{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}

<style>
#notification-container {
    position: absolute;
    top: 130px;
    right: 20px;
    z-index: 999999;
    width: 300px;
  }
  
  .notification {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .notification.success {
    background-color: #4caf50;
  }
  
  .notification.error {
    background-color: #f44336;
  }
  
  .notification.warning {
    background-color: #ff9800;
  }
  
  .notification-close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
</style>
<div class="overflow-y-hidden">
    <div class="flex h-screen items-center">
        <!-- Left box -->    
        <div class="basis-[20%]">
            <div class="bg-black shadow p-6 h-[100vh] flex flex-col justify-between">
                <!-- Upper Section -->
                <div class="text-white mt-20">
                    <div class="flex flex-col items-center justify-center">
                        <div class="flex">
                            <button class="bg-yellow-400 text-black rounded-full w-36 h-36 flex items-center justify-center hover:bg-yellow-500 text-3xl">
                                {{ user.first_name|slice:":1" }}
                            </button>
                        </div>
                        <p class="text-white text-xl mt-2">{{ user.username }}</p>
                    </div>

                    <!-- Links Section -->
                    <ul class="border-r border-yellow-400 mt-10">
                        <li class="mb-2">
                            <a href="{% url 'profile' %}" class="w-full block">
                                <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md flex items-center">
                                    <ion-icon name="person-outline" size="large"></ion-icon>
                                    <span class="ml-4 mt-2">Profile</span>
                                </button>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'profile' %}" class="w-full block">
                                <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md flex items-center">
                                    <ion-icon name="settings-outline" size="large"></ion-icon>
                                    <span class="ml-4 mt-2">Account Settings</span>
                                </button>
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'tickets' %}" class="w-full block">
                                <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md flex items-center">
                                    <ion-icon name="ticket-outline" size="large"></ion-icon>
                                    <span class="ml-4 mt-2">Tickets</span>
                                </button>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                
                <!-- Log Out Button -->
                <div>
                    <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded mb-9">
                        <a href="{% url 'logout' %}" class="flex items-center">
                            <ion-icon name="log-out-outline" size="large"></ion-icon>
                            <span class="ml-4">Log Out</span>
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <!-- Right box -->
        <div class="basis-[80%]">
            <div class="shadow pt-16 h-[100vh] mt-auto text-white overflow-x-auto">
                {% block content1 %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
