{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content%}
<div class="overflow-y-hidden">
      <div class="grid grid-cols-4 sm:grid-cols-12  h-screen items-center justify-center ">
          <!-- left box -->
          <div class="col-span-4 sm:col-span-3">
            <div class="bg-black shadow   p-6 h-[100vh] flex flex-col justify-between">
                <!-- Upper Section -->
                <div class="text-white mt-12">
                    <h1 class="text-3xl mb-2 mt-2">Dashboard</h1>
                    <!-- <hr class="my-6 border-t border-gray-300"> -->
                    <ul class="border-r border-yellow-400">
                      <li class="mb-2">
                          <a href="{% url 'profile' %}" class="w-full block">
                              <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md">
                                  Profile
                              </button>
                          </a>
                      </li>
                      <li class="mb-2">
                          <a href="{% url 'profile' %}" class="w-full block">
                              <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md">
                                  Account Settings
                              </button>
                          </a>
                      </li>
                      <li class="mb-2">
                          <a href="{% url 'tickets' %}" class="w-full block">
                              <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md">
                                  Tickets
                              </button>
                          </a>
                      </li>
                      <li class="mb-2">
                          <a href="{% url 'history' %}" class="w-full block">
                              <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded-md">
                                  History
                              </button>
                          </a>
                      </li>
                  </ul>
                  
                </div>
                
                
                <div>
                    <button class="text-white hover:text-yellow-400 hover:bg-gray-800 w-full text-left p-2 rounded mb-9">
                        <a href="{% url 'logout' %}">Log Out</a>
                    </button>
                </div>
            </div>
        </div>
        
          <!-- right box -->
          <div class="col-span-4 sm:col-span-9">
              <div class=" shadow p-6 h-[100vh] mt-9 text-white overflow-x-auto" >
                 {% block content1 %}
                 {% endblock %}
              </div>
          </div>
      </div>
  
    </div>

{% endblock %}
