<div id="editUserModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex items-center justify-center z-50 backdrop-blur-sm">
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Edit User</h2>

        <form id="editUserForm" method="POST" enctype="multipart/form-data" action="{% url 'admin_dashboard_update_user' 0 %}" class="space-y-4">
            {% csrf_token %}

            {% for field in update_user_form %}
                <div>
                    <label for="{{ field.id_for_label }}"  class="block text-m font-medium text-gray-700">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
 
                     
            {% for error in update_user_form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    {{ error }}
                </div>  
            {% endfor %}

            <div class="flex justify-end mt-4">
                <button data-close-modal type="button" class="px-4 py-2 bg-gray-300 hover:bg-gray-400 text-gray-700 rounded-md" id="closeModal">Cancel</button>
                <button type="submit" class="ml-2 px-4 py-2 bg-black text-white rounded-md">Save Changes</button>
            </div>
        </form>
    </div>
</div>


{% load static %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const modal = document.getElementById("editUserModal");
        const closeModalButton = modal.querySelector("[data-close-modal]");
        
        closeModalButton.addEventListener("click", () => {
            modal.classList.add("hidden");
        });

        const editUserForm = document.getElementById("editUserForm");
        
        const cards = document.querySelectorAll("[data-user-card]");
        cards.forEach((card) => {
            card.addEventListener("click", () => {
                const firstname = card.getAttribute("data-firstname");
                const lastname = card.getAttribute("data-lastname");
                const username = card.getAttribute("data-username");
                const userID = card.getAttribute("data-id");
                const email = card.getAttribute("data-email");
                const birthdate = formatBirthdateToMMDDYYYY(card.getAttribute("data-birthdate"));
                const address = card.getAttribute("data-address");  

                //modifying the action
                const url = "{% url 'admin_dashboard_update_user' 0 %}".replace('0', userID);
                editUserForm.action = url;

                //setting the values
                modal.querySelector("input[name='username']").value = username;
                modal.querySelector("input[name='email']").value = email;
                modal.querySelector("input[name='birth_date']").valueAsDate = birthdate; // Adjust to the correct field name
                modal.querySelector("input[name='first_name']").value = firstname;
                modal.querySelector("input[name='last_name']").value = lastname;
                modal.querySelector("input[name='address']").value = address;

                //show the modal
                modal.classList.remove("hidden");
            });
        });

        const formatBirthdateToMMDDYYYY = (birthdateStr) => {
            const date = new Date(birthdateStr); // Convert to Date object
            const month = String(date.getMonth()).padStart(2, '0'); // Get month and pad with zero
            const day = String(date.getDate()).padStart(2, '0'); // Get day and pad with zero
            const year = date.getFullYear(); // Get full year
            return new Date(Date.UTC(year, month, day))
        }
    });
</script>
