{% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">

    
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <div class="banner active">
        <div class="content">
            <img 
                src="{% static 'images/Deadpool-Wolverine-Movie-Title.jpg' %}" 
                alt="Deadpool Wolverine Movie Title" 
                class="movie-title" 
            />
            <h4>
                <span>2024 |</span>
                <span> 2h 7min |</span>
                <span> Action</span>
            </h4>
            <p>
                Deadpool's peaceful existence comes crashing down when the Time 
                Variance Authority recruits him to help safeguard the multiverse. 
                He soon unites with his would-be pal, Wolverine, to complete the 
                mission and save his world from an existential threat.
            </p>
            <div class="button">
                <a href="#"><i class="fa fa-play" aria-hidden="true"></i>  Book Now</a>
            </div>
        </div>

      <div class="carousel-box">
        <div class="carousel">
          <a class="carousel-item" 
          onClick="changeBg('deadpoolbanner.jpg', 'Deadpool-Wolverine-Movie-Title.jpg');" 
          href="#one!">
          <img src="{% static 'images/carousel-poster-deadpool.jpg' %}" alt="Deadpool Carousel Poster">
       </a>         
          <a class="carousel-item" href="#two!"><img src="{% static 'images/carousel-poster-openheimer.jpg' %}" alt=""></a>
          <a class="carousel-item" href="#three!"><img src="{% static 'images/carousel-poster-batman.jpg' %}" alt=""></a>
          <a class="carousel-item" href="#four!"><img src="{% static 'images/carousel-poster-joker.jpg' %}" alt=""></a>
          <a class="carousel-item" href="#five!"><img src="{% static 'images/carousel-poster-wicked.jpg' %}" alt=""></a>
          <a class="carousel-item" href="#six!"><img src="{% static 'images/carousel-poster-us.jpg' %}" alt=""></a>
          <a class="carousel-item" href="#seven!"><img src="{% static 'images/carousel-poster-abigail.jpg' %}" alt=""></a>
      </div>
    </div>
    

   
     <script src="{% static 'js/script.js' %}"></script>
     <script>
       $(document).ready(function(){
      $('.carousel').carousel();
       });
     </script>


