{% load static %}
<section class="text-blueGray-700 mb-20">
  <div
    class="container flex flex-col items-center px-0 py-16 mx-auto md:flex-row lg:px-1 mt-24"
  >
    <div class="flex flex-col items-start text-left lg:flex-grow">
      <h2 class="mb-8 text-2xl tracking-widest text-white uppercase">
        Mas Sayon Na ang Pagsine!
      </h2>
      <h1
        class="mb-8 text-5xl tracking-wide leading-tight text-white font-archivo"
        style="text-shadow: none"
      >
        Your Cinema Journey Starts Here!
      </h1>
      <p
        class="mb-8 tracking-wide text-2xl leading-relaxed text-left text-white font-netflix"
      >
        Discover the easiest way to book tickets and enjoy the latest
        blockbusters without the hassle.
      </p>
      <div class="flex flex-col justify-center lg:flex-row">
        <div>
          <button
            class="bg-yellow-400 text-black w-44 h-16 rounded hover:bg-yellow-500"
          >
            See More
          </button>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-3/5 lg:max-w-lg md:w-1/ relative">
      <img
        class="object-cover object-center rounded-lg"
        alt="film roll"
        src="{% static 'images/light_roll.png' %}"
      />
    </div>
  </div>
</section>
