{% load static %}
<nav
  class="navbar fixed top-0 left-0 right-0 bg-black text-white shadow-md flex items-center px-5 py-3 z-20"
>
  <!-- Logo -->
  <div class="logo-container w-2/5">
    <a href="#">
      <img src="{% static 'images/logo.png' %}" alt="logo" class="logo h-12" />
    </a>
  </div>

  <!-- Links -->
  <div class="links-container flex w-1/5 justify-evenly items-center">
    <a href="/home" class="link hover:text-yellow-400 text-x">Home</a>
    <a href="/movies" class="link hover:text-yellow-400 text-x">Movies</a>
  </div>

  <!-- Actions -->
  <div class="actions-container flex w-2/5 justify-end items-center">
    <div class="relative">
      {% if user.is_authenticated %}
      <!-- Profile as a circular button -->

      <button
        id="profileDropdownButton"
        class="bg-yellow-400 text-black rounded-full w-12 h-12 flex items-center justify-center hover:bg-yellow-500"
        onclick="toggleDropdown()"
      >
        P
      </button>

      <!-- Dropdown menu -->
      <div
        id="profileDropdown"
        class="absolute right-0 w-48 bg-white rounded-md shadow-lg hidden"
      >
        <a
          href="{% url 'profile' request.user.username %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          My Profile
        </a>

        <a
          href="{% url 'tickets' request.user.username %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          My Tickets
        </a>

        <a
          href="{% url 'logout' %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          Logout
        </a>
      </div>

      {% else %}
      <button
        id="login-btn"
        class="bg-yellow-400 text-white px-4 py-2 rounded hover:bg-yellow-500"
      >
        Log In
      </button>
      {% endif %}
    </div>
  </div>
</nav>

<script>
  function toggleDropdown() {
    const dropdown = document.getElementById("profileDropdown");
    dropdown.classList.toggle("hidden");
  }

  // Close the dropdown if clicked outside
  window.onclick = function (event) {
    if (!event.target.matches("#profileDropdownButton")) {
      const dropdowns = document.getElementsByClassName("absolute");
      for (let i = 0; i < dropdowns.length; i++) {
        const openDropdown = dropdowns[i];
        if (!openDropdown.classList.contains("hidden")) {
          openDropdown.classList.add("hidden");
        }
      }
    }
  };
</script>
