{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href="
https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css
" rel="stylesheet">


<header>
  
  <a href="#" class="logo">
    <img src="{% static 'images/logo.png' %}" alt="logo" class="logo h-12" />
  </a>

  <ul class="navbar">
    <li> <a href="/home/" class="nav-link">Home</a></li>
    <li> <a href="/movies/" class="nav-link">Movies</a></li>
    <li> <a href="/coming/" class="nav-link">Coming</a></li>
  </ul>

  <div class="actions-container flex">
    
    

    <div class="relative">
      {% if user.is_authenticated %}
      <!-- Profile as a circular button -->

      <div class="flex">
        <button
        id="profileDropdownButton"
        class="bg-yellow-400 text-black rounded-full w-12 h-12 flex items-center justify-center hover:bg-yellow-500"
        onclick="toggleDropdown()"
      >
        P
      </button>

      </div>

      

      
      


      <!-- Dropdown menu -->
      <div
        id="profileDropdown"
        class="absolute right-0 w-48 bg-white rounded-md shadow-lg hidden"
      >
        <a
          href="{% url 'profile' %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          My Profile
        </a>

        <a
          href="{% url 'tickets' %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          My Tickets
        </a>

        <a
          href="{% url 'logout' %}"
          class="block px-4 py-2 text-gray-800 hover:bg-gray-200"
        >
          Logout
        </a>
      </div>

      {% else %}
      <button
        id="login-btn"
        class="bg-yellow-400 text-white px-4 py-2 rounded hover:bg-yellow-500"
      >
        Log In
      </button>
      {% endif %}
    </div>
  </div>


</header>





<script>

   // Get the current URL path
   const currentPath = window.location.pathname;

   // Select all navbar links
   const navbarLinks = document.querySelectorAll('.navbar .nav-link');
 
   // Loop through each link to find a match with the current URL
   navbarLinks.forEach(link => {
     // If the link's href matches the current path, add 'active' class
     if (link.getAttribute('href') === currentPath) {
       link.classList.add('active');
     }
   });

  function toggleDropdown() {
    const dropdown = document.getElementById("profileDropdown");
    dropdown.classList.toggle("hidden");
  }

  // Close the dropdown if clicked outside
  window.onclick = function (event) {
    if (!event.target.matches("#profileDropdownButton")) {
      const dropdowns = document.getElementsByClassName("absolute");
      for (let i = 0; i < dropdowns.length; i++) {
        const openDropdown = dropdowns[i];
        if (!openDropdown.classList.contains("hidden")) {
          openDropdown.classList.add("hidden");
        }
      }
    }
  };
</script>
